<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <request-character-encoding>UTF-8</request-character-encoding>
    <response-character-encoding>UTF-8</response-character-encoding>

    <context-param>
        <param-name>context1</param-name>
        <param-value>ct1</param-value>
    </context-param>
    <context-param>
        <param-name>context2</param-name>
        <param-value>ct2</param-value>
    </context-param>

    <servlet>
        <servlet-name>HiServlet</servlet-name>
        <servlet-class>servlet.创建Servlet类.HiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiServlet</servlet-name>
        <url-pattern>/hi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlet.创建Servlet类.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>获取请求行信息</servlet-name>
        <servlet-class>servlet.请求.获取请求行信息</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>获取请求行信息</servlet-name>
        <url-pattern>/requestInfo-hang</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>获取请求头部信息</servlet-name>
        <servlet-class>servlet.请求.获取请求头部信息</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>获取请求头部信息</servlet-name>
        <url-pattern>/requestInfo-head</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>参数类型1</servlet-name>
        <servlet-class>servlet.请求.获取请求参数.参数类型1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>参数类型1</servlet-name>
        <url-pattern>/requestInfo-param1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>参数类型2</servlet-name>
        <servlet-class>servlet.请求.获取请求参数.参数类型2</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>参数类型2</servlet-name>
        <url-pattern>/requestInfo-param2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>参数类型3</servlet-name>
        <servlet-class>servlet.请求.获取请求参数.参数类型3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>参数类型3</servlet-name>
        <url-pattern>/requestInfo-param3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>设置响应体</servlet-name>
        <servlet-class>servlet.响应.设置响应体</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>设置响应体</servlet-name>
        <url-pattern>/writeResponse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>设置响应头</servlet-name>
        <servlet-class>servlet.响应.设置响应头</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>设置响应头</servlet-name>
        <url-pattern>/setRespHead</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>设置状态码</servlet-name>
        <servlet-class>servlet.响应.设置状态码</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>设置状态码</servlet-name>
        <url-pattern>/setStatus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>获取ServletConfig和ServletContext</servlet-name>
        <servlet-class>servlet.获取ServletConfig和ServletContext</servlet-class>
        <init-param>
            <param-name>key1</param-name>
            <param-value>value1</param-value>
        </init-param>
        <init-param>
            <param-name>key2</param-name>
            <param-value>value2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>获取ServletConfig和ServletContext</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Dispatch</servlet-name>
        <servlet-class>servlet.请求转发.Dispatch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispatch</servlet-name>
        <url-pattern>/dispatch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Dispatched</servlet-name>
        <servlet-class>servlet.请求转发.Dispatched</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispatched</servlet-name>
        <url-pattern>/dispatched</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>重定向1</servlet-name>
        <servlet-class>servlet.重定向.重定向1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>重定向1</servlet-name>
        <url-pattern>/redirect1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>重定向2</servlet-name>
        <servlet-class>servlet.重定向.重定向2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>重定向2</servlet-name>
        <url-pattern>/redirect2</url-pattern>
    </servlet-mapping>
</web-app>
