<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请求转发</title>
    <script src="/web/lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/web/lib/common.css">
</head>
<body>
<div class="content">
    <div id="wall">
        URL：<input class="prefix" type="text" value=""/>
        <input class="piece" type="text" value=""/>
        <input class="querystr" type="text" value=""/>
    </div>
    <div id="piece">
        <button>dispatch</button>
    </div>
    <br>

    <div class="rq_wrap">
        <div class="get_wrap">
            <p>GET请求参数：</p>
            <textarea class="GET_DATA" cols="50" rows="10"></textarea>
            <br>
            <button class="rqbtn" type="GET">GET</button>
        </div>
        <div class="post_wrap">
            <p>POST请求参数：</p>
            <textarea class="POST_DATA" cols="50" rows="10"></textarea>
            <br>
            <button class="rqbtn" type="POST">POST</button>
        </div>
    </div>
</div>


<script>
    const defprefix = `http://localhost:8055/web/`;
    const defRqData = `{\n\t"to": "dispatched"\n}`;
    const defquerystr = ``

    $(".prefix").val(defprefix);
    $(".POST_DATA, .GET_DATA").html(defRqData);
    $(".querystr").val(defquerystr);

    $("#piece button").click((e) => {
        const piece = $(e.currentTarget).html()
        $("#wall .piece").val(piece);
    })

    $(".rqbtn").click((e) => {
        const prefix = $("#wall .prefix").val();
        const piece = $("#wall .piece").val();
        const querystr = $("#wall .querystr").val();
        let url = prefix + piece + querystr;
        const type = $(e.currentTarget).attr("type")
        let data;
        try {
            data = JSON.parse($(`.${type}_DATA`).val())
        } catch (e) {
        }

        $.ajax({
            url: url,
            type: type,
            data: data,
            success: function (res) {
                console.log(res);
            }
        })
    })

    $("#piece button")[0].click()
</script>

</body>
</html>