<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请求</title>
    <script src="/web/lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/web/lib/common.css">
</head>
<body>
<div class="content">
    <div id="wall">
        URL：<input class="prefix" type="text" value=""/>
        <input class="piece" type="text" value=""/>
        <input class="querystr" type="text" value=""/>
    </div>
    <div id="piece">
        <button>requestInfo-hang</button>
        <button>requestInfo-head</button>
        <button>requestInfo-param1</button>
        <button>requestInfo-param2</button>
        <button>requestInfo-param3</button>
    </div>
    <br>

    <div class="rq_wrap">
        <div class="get_wrap">
            <p>GET请求参数：</p>
            <textarea class="GET_DATA" cols="50" rows="10"></textarea>
            <br>
            <button class="rqbtn" type="GET">Send Get</button>
        </div>
        <div class="post_wrap">
            <p>POST请求参数：</p>
            <textarea class="POST_DATA" cols="50" rows="10"></textarea>
            <br>
            <button class="rqbtn" type="POST">Send Post</button>
        </div>
    </div>
</div>

<script type="module">
    import serverConfig from '../../lib/server.config.js'
    import { jsonToFormData } from '../../lib/common.js'
    const defprefix = serverConfig.server;
    const defGetData = `{"a": "1", "b": "2", "c": "3"}`;
    const defPostData = `{"bar": "bar","foo": "foo"}`;
    const defquerystr = ``
    $(".prefix").val(defprefix);
    $(".GET_DATA").html(defGetData);
    $(".POST_DATA").html(defPostData);
    $(".querystr").val(defquerystr);

    $("#piece button").click((e) => {
        const piece = $(e.currentTarget).html()
        $("#wall .piece").val(piece);
    })

    $(".rqbtn").click((e) => {
        const prefix = $("#wall .prefix").val();
        const piece = $("#wall .piece").val();
        const querystr = $("#wall .querystr").val();
        let url = prefix + piece + querystr;
        const type = $(e.currentTarget).attr("type")
        let data;
        try {
            data = JSON.parse($(`.${type}_DATA`).val())
        } catch (e) {
        }

        let contentType = "application/x-www-form-urlencoded; charset=UTF-8"
        let processData = true
        if(piece === 'requestInfo-param2'){
            data = jsonToFormData(data)
            processData = false
            contentType = false
        }else if(piece === 'requestInfo-param3'){
            data = JSON.stringify(data)
            contentType = "application/json"
        }

        $.ajax({
            url: url,
            type: type,
            data: data,
            processData: processData,
            contentType: contentType,
            success: function (res) {
                console.log(res);
            }
        })
    })

    $("#piece button")[0].click()
</script>

</body>
</html>