<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="../../lib/vue.3.2.33.js"></script>
    <script src="../../lib/axios.min.js"></script>
    <link rel="stylesheet" href="../../lib/common.css">
</head>
<style>
    body{
        display: flex;
        justify-content: center;
    }
    .form-wrap{
        border: 1px solid #ccc;
        margin-top: 120px;
        padding: 20px 60px 40px;
        text-align: center;
        box-shadow: 0px 0px 8px 4px #aaa;
    }
    .title-wrap{
        line-height: 60px;
    }
    .input-wrap{
        margin-bottom: 20px;
    }
    .input-wrap input{
        height: 26px;
    }
    .btn{
        padding: 5px 20px;
    }
    .regst{
        margin-top: 10px;
        display: inline-block;
    }
    .required{
        color: red;
    }
</style>
<body>
    <div id="app">
        <form class="form-wrap" ref="form">
            <strong class="title-wrap">用户注册</strong>
            <div class="input-wrap">
                <span class="required">*</span>用户名称：<input type="text" v-model="formData.userName">
            </div>
            <div class="input-wrap">
                <span class="required">*</span>用户密码：<input type="password" v-model="formData.password">
            </div>
            <div class="input-wrap">
                <span class="required">*</span>确认密码：<input type="password" v-model="formData.passwordAgain">
            </div>
            <div class="input-wrap">
                <span class="required">*</span>电子邮箱：<input type="email" v-model="formData.email">
            </div>
            <button class="btn" type="button" @click="onRegst">注册</button>
            <br>
            <a class="regst" href="../login/index.html">用户登录</a>
        </form>
    </div>

    <script type="module">
        import Schema from '../../lib/async-validator.js'
        Vue.createApp({
            data() {
                return {
                    formData:{
                        userName: '',
                        password: '',
                        passwordAgain: '',
                        email: '',
                    },
                    rules: {
                        userName:{
                            required: true,
                            message: "用户名称必填"
                        },
                        password:{
                            required: true,
                            message: "用户密码必填"
                        },
                        passwordAgain:[{
                            required: true,
                            message: "确认密码必填"
                        },{
                            validator: (rule, value, callback) => {
                                if (value !== this.formData.password) {
                                    callback(new Error('密码不一致'));
                                }
                                callback();
                            }
                        }],
                        email:[{
                            required: true,
                            message: "电子邮箱必填"
                        },{
                            type: 'email',
                            message: "电子邮箱不合法"
                        }]
                    }
                }
            },
            computed:{
                validator(){
                    return new Schema(this.rules)
                }
            },
            methods: {
                async onRegst(){
                    const {validator, formData} = this
                    validator.validate(this.formData, errors => {
                        if (errors) {
                            alert(errors[0].message)
                            return
                        }else{
                            console.log(formData)
                            axios.get('/register', {
                                params: formData
                            })
                        }
                    })
                }
            }
        }).mount('#app')
    </script>
</body>
</html>